body {
  font-family: arial, sans-serif;
}

h1 {
  color: orangered;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 20px 20px 20px;
  text-align: center;
}

h2 {
  color: #008480;
  font-size: 15px;
  text-align: center;
}

.day-container {
  font-size: 50px;
}

.forecast {
  color: orangered;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  padding: 20px;
}
.current-temperature {
  color: #e0005a;
  text-align: center;
  font-size: 30px;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.daily-temp {
  margin: 0 100px;
}

.temp-day {
  text-align: center;
  padding: 0;
}

.temp {
  text-align: right;
  padding: 0;
}

.today-info {
  border: 5px solid #344;
  display: block;
  margin: 0 auto;
  background-color: lightgrey;
  border-width: thin;
}

.temp-high {
  color: #246be2;
}

.temp-low {
  color: #246be2;
}
